/* Início da estilização do form para inserção de tasks */
.addTasks {
  display: flex;
  gap: 0.5rem;
  margin-top: -1.625rem;
}

.addTasks input {
  flex: 1;
  padding: 1rem;

  background-color: var(--gray-500);
  color: var(--gray-300);
  border-radius: 8px;
  border: 1px solid var(--gray-700);
}

.addTasks input:focus {
  outline: transparent;
  box-shadow: 0 0 0;

  color: var(--gray-100);
  border: 1px solid var(--purple-dark);
}

.addTasks button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 1rem;

  background-color: var(--blue-dark);
  color: var(--gray-100);
  border-radius: 8px;

  transition: background-color 0.2s;
}

.addTasks button:hover {
  background-color: var(--blue);
}
/* Fim da estilização do form para inserção de tasks */

/* Início da estilização do todo list */
.todoList {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.todoList header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1.5rem;
}

.resumeTasks .createdTasks {
  display: flex;
  gap: 0.5rem;

  color: var(--blue);
  font-weight: 700;
}

.resumeTasks .createdTasks span,
.resumeTasks .completedTasks span {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--gray-200);
  background-color: var(--gray-400);
  font-size: 0.75rem;
  font-weight: 700;

  border-radius: 999px;
  padding: 2px 8px;

  height: 1.187rem;
}

.resumeTasks .createdTasks span {
  width: 2rem;
}

.resumeTasks .completedTasks {
  display: flex;
  gap: 0.5rem;

  color: var(--purple);
  font-weight: 700;
}

.resumeTasks .completedTasks span {
  min-width: 4rem;
}

.todoList ul {
  list-style: none;
}

.todoList ul li {
  display: flex;
  gap: 0.5rem;
}

.todoList ul li input {
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border-radius: 999px;
  border: 1px solid var(--blue);
}

.todoList ul li p {
  flex-grow: 1;
}
/* Fim da estilização do todo list */