/* Início da estilização do todo list */
.todoList {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.todoList header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1.5rem;
}

.resumeTasks .createdTasks {
  display: flex;
  gap: 0.5rem;

  color: var(--blue);
  font-weight: 700;
}

.resumeTasks .createdTasks span,
.resumeTasks .completedTasks span {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--gray-200);
  background-color: var(--gray-400);
  font-size: 0.75rem;
  font-weight: 700;

  border-radius: 999px;
  padding: 2px 8px;

  height: 1.187rem;
}

.resumeTasks .createdTasks span {
  width: 2rem;
}

.resumeTasks .completedTasks {
  display: flex;
  gap: 0.5rem;

  color: var(--purple);
  font-weight: 700;
}

.resumeTasks .completedTasks span {
  min-width: 4rem;
}

.todoList ul {
  list-style: none;
}

.todoList ul li {
  display: flex;
  gap: 0.75rem;
  align-items: center;

  background-color: var(--gray-500);
  border-radius: 8px;
  padding: 1rem;
}

.todoList ul li + li {
  margin-top: 0.75rem;
}

.todoList ul li input {
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border-radius: 999px;
  border: 1px solid var(--blue);
}

.todoList ul li p {
  flex-grow: 1;

  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.todoList ul li button {
  background-color: transparent;
  border: 0;
  font: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  color: var(--gray-300);
  border-radius: 4px;
}

.todoList ul li button:hover {
  color: var(--danger);
  background-color: var(--gray-400);
}
/* Fim da estilização do todo list */